header
  background-color: #0C151C
  height: 50px
  display: flex
  flex-direction: row
  flex-direction: row
  align-content: center
  align-items: center
  justify-content: space-between
  padding: 0px 15px
  .logo
    height: 25px
  .cart
    height: 25px
    cursor: pointer
    display: flex
    flex-direction: row
    gap: 10px
    align-content: center
    align-items: center
    .cart-name
      color: #ffffff

  img
    height: 25px
