@import "../../constants"

.cart
  display: flex
  flex-direction: row
  flex-wrap: wrap
  gap: 15px
  justify-content: center

.total
  display: flex
  flex-direction: column
  gap: 15px
  justify-content: center
  align-items: center
  width: 100%
  padding: 15px
  background-color: $background-dark-grey
  @media screen and (min-width : 515px)
    flex-direction: row

  .total-info
    display: flex
    flex-direction: column
    gap: 5px

    .total-text
      display: flex
      flex-direction: row
      align-content: center
      align-items: flex-end
      justify-content: center
      gap: 5px
      p
        color: $font-blue
        font-weight: bold
        font-size: 18px

  .buttons
    display: flex
    flex-direction: column
    gap: 5px

    button
      display: flex
      cursor: pointer
      align-content: center
      align-items: center
      justify-content: center
      gap: 10px
      width: 100%
      max-width: 200px
      height: 40px
      cursor: pointer
      padding: 10px 12px

      border: 1px none
      border-radius: 3px
      cursor: pointer
      -webkit-transition: all .1s ease-in-out
      transition: all .1s ease-in-out

    .registration
      background-color: $light-blue
    .registration:hover
      background-color: $focused-light-blue

    .delete-all
      background-color: $light-red
    .delete-all:hover
      background-color: $focused-light-red

.cart-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  gap: 15px
  padding: 15px
  justify-content: center
